* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body {
    height: 100%;
    background-color: purple;
}
h1 {
    line-height: 600px;
    text-align: center;
    font-size: 100px;
    color: pink;
    font-style: italic;
}